src/wordpress/wp-content/plugins/index.php
src/wordpress/wp-content/plugins/akismet
src/wordpress/wp-content/plugins/hello.php
src/wordpress/wp-content/themes/index.php
src/wordpress/wp-content/themes/twentynineteen
src/wordpress/wp-content/themes/twentyseventeen
src/wordpress/wp-content/themes/twentysixteen
src/wordpress/wp-content/themes/twentytwenty
src/wordpress/wp-content/themes/www_perlur_cloud/dist
src/wordpress/wp-content/themes/www_perlur_cloud/node_modules
docker-compose.yml
.DS_Store
.vs
