@charset "utf-8";

// PERLUR Color Palette
$green: #50B47F;
$blue: #4EBABC;
$gray: #E72D43;
$violet: #674595;
$red: #E72D43;

$primary: $green;
$title-color: $primary;
$subtitle-color: $blue;

// Navbar Variables
$navbar-item-color: $green;

@import "../../node_modules/bulma/bulma.sass";
@import "./bulma-megamenu.scss";

footer {
  flex-shrink: 0;
  padding: 1rem;
  background-color: $blue;
  width: 100%;
}

#site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#site-content {
  padding: 1rem 2rem;
  flex: auto;
}

#site-content-full-width {
  flex: auto;
}

#tab-content p {
  display: none;
}

#tab-content p.is-active {
  display: block;
}

.has-text-violet {
  color: $violet !important;
}

#HeaderMenu .title {
    font-size: 1.0rem;
}
